# This plan deploys a single test node with 1 Timed Trigger connector and a test component 

#=====================================================
# Definitions for Test Node
#-----------------------------------------------------

nl.remedy.it.DnCX11.LocalityManager TTLocality
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.Arguments "-ORBSvcConf hr_time.conf"

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"

# Test Component instance
nl.remedy.it.CCM.Component TT_TestComponent tt_test_exec create_Test_TT_Tester_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_TT_Tester_Servant"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler
