# This plan deploys 2 nodes; 1 for a FooProvider and a Foo connector instance and 
# 1 for two User, three Foo connector and one FooProvider instances  

#=====================================================
# Definitions for Remote Node
#-----------------------------------------------------

# RemoteFooProvider instance
nl.remedy.it.CCM.Component RemoteFooProviderComponent foo_provider_exec create_Example_FooProvider_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_FooProvider_Servant"
    nl.remedy.it.DnCX11.Node "RemoteNode"
    nl.remedy.it.DnCX11.Locality "RemoteLocality"

# Provider Foo CORBA Connector instance
nl.remedy.it.CCM.Component RemoteProvider_CORBA_connector conn_corba create_Example_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "RemoteNode"
    nl.remedy.it.DnCX11.Locality "RemoteLocality"
    nl.remedy.it.DnCX11.Connection RemoteFooProviderComponent
      srr_receptacle < do_my_foo

#=====================================================
# Definitions for Local Node
#-----------------------------------------------------

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"

# RemoteUser Foo CORBA Connector instance
nl.remedy.it.CCM.Component RemoteUser_CORBA_connector conn_corba create_Example_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.Connection RemoteProvider_CORBA_connector
      srr_receptacle < srr_facet

# ColocatedProvider Foo CORBA Connector instance
nl.remedy.it.CCM.Component ColocatedProvider_CORBA_connector conn_corba create_Example_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"

# ColocatedUser Foo CORBA Connector instance
nl.remedy.it.CCM.Component ColocatedUser_CORBA_connector conn_corba create_Example_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.Connection ColocatedProvider_CORBA_connector
      srr_receptacle < srr_facet

# ColocatedFooProvider instance
nl.remedy.it.CCM.Component ColocatedFooProviderComponent foo_provider_exec create_Example_FooProvider_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_FooProvider_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.Connection ColocatedProvider_CORBA_connector
      do_my_foo > srr_receptacle

# RemoteUser instance 
nl.remedy.it.CCM.Component RemoteUserComponent user_exec create_Example_User_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_User_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.ConfigProperty connection "REMOTE"
    nl.remedy.it.DnCX11.Connection RemoteUser_CORBA_connector
      run_my_foo < srr_facet
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# ColocatedUser instance 
nl.remedy.it.CCM.Component ColocatedUserComponent user_exec create_Example_User_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_User_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.ConfigProperty connection "COLOCATED"
    nl.remedy.it.DnCX11.Connection ColocatedUser_CORBA_connector
      run_my_foo < srr_facet
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler
      