# This plan deploys 2 nodes; 1 for a FooProvider and a Foo connector instance and 
# 1 for two User, 1 Foo connector, 1 FooProvider and 1 BarProvider instances  

#=====================================================
# Definitions for Remote Node
#-----------------------------------------------------

# RemoteFooProvider instance
nl.remedy.it.CCM.Component RemoteFooProviderComponent foo_provider_exec create_Example_FooProvider_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_FooProvider_Servant"
    nl.remedy.it.DnCX11.Node "RemoteNode"
    nl.remedy.it.DnCX11.Locality "RemoteLocality"

# Provider Foo CORBA Connector instance
nl.remedy.it.CCM.Component Provider_CORBA_connector conn_corba create_Example_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "RemoteNode"
    nl.remedy.it.DnCX11.Locality "RemoteLocality"
    nl.remedy.it.DnCX11.Connection RemoteFooProviderComponent
      srr_receptacle < do_my_foo

#=====================================================
# Definitions for Local Node
#-----------------------------------------------------

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"

# BarProvider instance
nl.remedy.it.CCM.Component BarProviderComponent bar_provider_exec create_Example_BarProvider_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_BarProvider_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"

# User Foo CORBA Connector instance for
nl.remedy.it.CCM.Component User_CORBA_connector conn_corba create_Example_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.Connection Provider_CORBA_connector
      srr_receptacle < srr_facet

# LocalFooProvider instance
nl.remedy.it.CCM.Component LocalFooProviderComponent foo_provider_exec create_Example_FooProvider_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_FooProvider_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"

# RemoteUser instance 
nl.remedy.it.CCM.Component RemoteUserComponent user_exec create_Example_User_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_User_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.ConfigProperty connection "REMOTE"
    nl.remedy.it.DnCX11.Connection User_CORBA_connector
      run_my_foo < srr_facet
    nl.remedy.it.DnCX11.Connection BarProviderComponent
      run_my_bar < do_my_bar
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# LocalUser instance 
nl.remedy.it.CCM.Component LocalUserComponent user_exec create_Example_User_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_User_Servant"
    nl.remedy.it.DnCX11.Node "LocalNode"
    nl.remedy.it.DnCX11.Locality "LocalLocality"
    nl.remedy.it.DnCX11.ConfigProperty connection "LOCAL"
    nl.remedy.it.DnCX11.Connection LocalFooProviderComponent
      run_my_foo < do_my_foo
    nl.remedy.it.DnCX11.Connection BarProviderComponent
      run_my_bar < do_my_bar
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler
      