
#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
nl.remedy.it.DnCX11.LocalityManager ReceiverComponentServerInstance
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    # to debug this locality uncomment the 2 lines below
    ## nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode 1
    ## nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.IOR "corbaloc:iiop:localhost:30001/DeploymentManager.LOCALITY_default"

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent Receiver_exec create_Example_BasicSubscriber_comp_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "Receiver_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_BasicSubscriber_comp_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty count uint32:100

# Receiver_ConnectorComponent instance
nl.remedy.it.CCM.Component Receiver_ConnectorComponent CA1_conn_dds_opendds_conn create_Example_CA1_conn_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_CA1_conn_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "IDL_Example"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "defaultlibrary#defaultprofile"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      push_consumer_data > CA1DataSub_data
      push_consumer_data_listener < CA1DataSub_data_listener
      push_consumer_data_control > CA1DataSub_data_control

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderComponentServerInstance
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
# to run this locality inprocess with the NM uncomment the following line
#    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:2

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent Sender_exec create_Example_BasicPublisher_comp_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "Sender_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_BasicPublisher_comp_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty count uint32:100
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Sender_ConnectorComponent instance
nl.remedy.it.CCM.Component Sender_ConnectorComponent CA1_conn_dds_opendds_conn create_Example_CA1_conn_DDS_Event_Impl
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "IDL_Example"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "defaultlibrary#defaultprofile"
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > CA1DataPub_data
      supplier_dds_entity > CA1DataPub_dds_entity
      error_listener < CA1DataPub_CSL
