

# SubscriberComponent instance
nl.remedy.it.CCM.Component SubscriberComponent subscriber_exec create_subscriber_comp_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "subscriber_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_subscriber_comp_Servant"
    nl.remedy.it.DnCX11.Node "SubscriberNode"
    nl.remedy.it.DnCX11.Locality "SubscriberLocality"

# Subscriber_ConnectorComponent instance
nl.remedy.it.CCM.Component Subscriber_ConnectorComponent shapes_shapetype_dds_opendds_conn create_ShapeTypeInterface_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "shapes_shapetype_dds_opendds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_ShapeTypeInterface_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "SubscriberNode"
    nl.remedy.it.DnCX11.Locality "SubscriberLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "ShapeType"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "eventdatalibrary#EventDataProfile"
    nl.remedy.it.DnCX11.Connection SubscriberComponent
      push_consumer_data > info_out_data                    # _reader
      push_consumer_data_listener < info_out_data_listener  # _listener
      push_consumer_data_control > info_out_data_control    # _datacontrol


# PublisherComponent instance
nl.remedy.it.CCM.Component PublisherComponent publisher_exec create_publisher_comp_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "publisher_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_publisher_comp_Servant"
    nl.remedy.it.DnCX11.Node "PublisherNode"
    nl.remedy.it.DnCX11.Locality "PublisherLocality"
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# Writer_ConnectorComponent instance
nl.remedy.it.CCM.Component Writer_ConnectorComponent shapes_shapetype_dds_opendds_conn create_ShapeTypeInterface_DDS_Event_Impl
    nl.remedy.it.DnCX11.Node "PublisherNode"
    nl.remedy.it.DnCX11.Locality "PublisherLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "ShapeType"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "eventdatalibrary#EventDataProfile"
    nl.remedy.it.DnCX11.Connection PublisherComponent
      supplier_data > info_write_data     # writer_connection
      error_listener < connector_status_ShapeType   # connector_status_connection

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "PublisherNode"
    nl.remedy.it.DnCX11.Locality "PublisherLocality"
