
#=====================================================
# Definitions for Receiver Node
#-----------------------------------------------------
# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
#nl.remedy.it.DnCX11.LocalityManager ReceiverLocalityInstance
#    nl.remedy.it.DnCX11.Node "ReceiverNode"
#    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
#    # to debug this locality uncomment the 2 lines below
#    ## nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:1
#    ## nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.IOR "corbaloc:iiop:localhost:30001/DeploymentManager.LOCALITY_default"

# ReceiverComponent instance
nl.remedy.it.CCM.Component Hello_ReceiverComponent asyn_wsf_receiver_exec create_Hello_Receiver_Impl
    ##nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "asyn_wsf_sender_exec"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.InstanceIOR "Receiver.ior"
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_MyFoo_uses
      run_my_syn_foo < srr_facet
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_MyFoo_provides
      do_my_foo > srr_receptacle
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_Control
      run_control < srr_facet

# Receiver CORBA Connector instance for the Receiver Foo receptacle
nl.remedy.it.CCM.Component Receiver_CORBA_connector_MyFoo_uses asyn_with_syn_facet_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection Sender_CORBA_connector_MyFoo
      srr_receptacle < srr_facet

# Receiver CORBA Connector instance for the Receiver Foo facet
nl.remedy.it.CCM.Component Receiver_CORBA_connector_MyFoo_provides asyn_with_syn_facet_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# Receiver CORBA Connector instance for the Control interface
nl.remedy.it.CCM.Component Receiver_CORBA_connector_Control asyn_with_syn_facet_corba_conn create_Hello_Control_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Control_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection Sender_CORBA_connector_Control
      srr_receptacle < srr_facet

#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------
# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderLocalityInstance
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
# to run this locality inprocess with the NM uncomment the following line
#    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:2

# SenderComponent instance
nl.remedy.it.CCM.Component Hello_SenderComponent asyn_wsf_sender_exec create_Hello_Sender_Impl
    ##nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "Hello_Sender_exec"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.InstanceIOR "Sender.ior"

# AMI ConnectorComponent instance
nl.remedy.it.CCM.Component AMI_ConnectorComponent asyn_with_syn_facet_ami4ccm_conn create_Hello_AMI4CCM_MyFoo_Connector_AMI4CCM_Connector_Impl
    ##nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "asyn_with_syn_facet_ami4ccm_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_AMI4CCM_MyFoo_Connector_AMI4CCM_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection Hello_SenderComponent
      ami4ccm_port_ami4ccm_provides > sendc_run_my_foo    # run_asynch_foo_connection
      ami4ccm_port_ami4ccm_sync_provides > run_my_foo     # synch_foo_connection
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_MyFoo_provides
      ami4ccm_port_ami4ccm_uses < srr_facet

# Sender CORBA Connector instance for the Foo interface
nl.remedy.it.CCM.Component Sender_CORBA_connector_MyFoo asyn_with_syn_facet_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection Hello_SenderComponent
      srr_receptacle < do_my_foo

# Sender CORBA Connector instance for the Control interface
nl.remedy.it.CCM.Component Sender_CORBA_connector_Control asyn_with_syn_facet_corba_conn create_Hello_Control_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Control_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection Hello_SenderComponent
      srr_receptacle < do_control
