
#=====================================================
# Definitions for Receiver Node
#-----------------------------------------------------

# ReceiverComponent instance
nl.remedy.it.CCM.Component InterceptorReceiverInstance1 receiver_exec create_Interceptor_Interceptor_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Interceptor_Interceptor_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# Receiver CORBA Connector instance
nl.remedy.it.CCM.Component Receiver_CORBA_connector interceptor_corba_conn create_Interceptor_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Interceptor_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    # local connection between CORBA connector for the Receiver
    # and the Receiver itself.
    nl.remedy.it.DnCX11.Connection InterceptorReceiverInstance1
      srr_receptacle < prov_my_foo

#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------

# SenderComponent instance
nl.remedy.it.CCM.Component InterceptorSenderInstance1 sender_exec create_Interceptor_Interceptor_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Interceptor_Interceptor_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Sender CORBA Connector instance
nl.remedy.it.CCM.Component Sender_CORBA_connector1 interceptor_corba_conn create_Interceptor_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Interceptor_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    # local connection between Sender and CORBA connector for the Sender
    nl.remedy.it.DnCX11.Connection InterceptorSenderInstance1
      srr_facet > run_my_foo
    # Remote connection between the CORBA connector for the Sender to the
    # CORBA connector for the Receiver
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector
      srr_receptacle < srr_facet


# SenderComponentTwo instance
nl.remedy.it.CCM.Component InterceptorSenderInstance2 sender_exec create_Interceptor_Interceptor_Sender_Impl
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Sender CORBA Connector instance
nl.remedy.it.CCM.Component Sender_CORBA_connector2 interceptor_corba_conn create_Interceptor_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Interceptor_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    # local connection between Sender and CORBA connector for the Sender
    nl.remedy.it.DnCX11.Connection InterceptorSenderInstance2
      srr_facet > run_my_foo
    # Remote connection between the CORBA connector for the Sender to the
    # CORBA connector for the Receiver
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector
      srr_receptacle < srr_facet
