
# locality manager instance for locality "LocalityInstance" on Node "LocalityOne"
nl.remedy.it.DnCX11.LocalityManager LocalityInstance
    nl.remedy.it.DnCX11.Node "LocalityOne"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.Arguments "-n LocalityInstance"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.ConfigFile "advanced_resources.localityconfig"

# Foo test component instance
nl.remedy.it.CCM.Component Foo_TestComponent test_component_exec create_Foo_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Foo_Servant"
    nl.remedy.it.DnCX11.Node "LocalityOne"
    nl.remedy.it.DnCX11.Locality "LocalityInstance"
