#---------------------------------------------------------------------
# @file   plan_opendds.config
# @author Johnny Willemsen
#
# @copyright Copyright (c) Remedy IT Expertise BV
#---------------------------------------------------------------------

#=====================================================
# Definitions for the Component Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ComponentLocality" on Node "ComponentNode"
nl.remedy.it.DnCX11.LocalityManager ComponentServerInstance
    nl.remedy.it.DnCX11.Node "ComponentNode"
    nl.remedy.it.DnCX11.Locality "ComponentLocality"

# Component instance
nl.remedy.it.CCM.Component Component NonChangeableComponent_exec create_NonChangeableComponent_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "NonChangeableComponent_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_NonChangeableComponent_Servant"
    nl.remedy.it.DnCX11.Node "ComponentNode"
    nl.remedy.it.DnCX11.Locality "ComponentLocality"

# DDS4CCM_Receiver_Connector instance
nl.remedy.it.CCM.Component DDS4CCM_Receiver_Connector common_dds_opendds_conn create_CommonTestConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "common_dds_opendds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CommonTestConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "ComponentNode"
    nl.remedy.it.DnCX11.Locality "ComponentLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "NonChangeable"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "nonchangeablelibrary#NonChangeableProfile"
    nl.remedy.it.DnCX11.Connection Component
      pull_consumer_data > info_get_data
