#---------------------------------------------------------------------
# @file   plan.config
# @author Marcel Smit
#
# @copyright Copyright (c) Remedy IT Expertise BV
#---------------------------------------------------------------------

#=====================================================
# Definitions for the Component Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ComponentLocality" on Node "ComponentNode"
nl.remedy.it.DnCX11.LocalityManager InvalidQosComponentServerInstance
    nl.remedy.it.DnCX11.Node "ComponentNode"
    nl.remedy.it.DnCX11.Locality "ComponentLocality"

# InvalidQosComponent instance
nl.remedy.it.CCM.Component InvalidQosComponent InvalidQosComponent_exec create_InvalidQosComponent_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "InvalidQosComponent_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_InvalidQosComponent_Servant"
    nl.remedy.it.DnCX11.Node "ComponentNode"
    nl.remedy.it.DnCX11.Locality "ComponentLocality"

# DDS4CCM_Component_Connector instance
nl.remedy.it.CCM.Component DDS4CCM_Component_Connector common_dds_ndds_conn create_CommonTestConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "common_dds_ndds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CommonTestConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "ComponentNode"
    nl.remedy.it.DnCX11.Locality "ComponentLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "InvalidQos"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "invalidqoslibrary#Invalid_prof"
    nl.remedy.it.DnCX11.Connection InvalidQosComponent
      supplier_data > info_write_data
