
#=====================================================
# Definitions for Receiver Node
#-----------------------------------------------------

# ReceiverComponent instance
nl.remedy.it.CCM.Component Hello_ReceiverImplementation gen_test_simple_receiver_exec create_Hello_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"

# ReceiverConnectorComponent instance
nl.remedy.it.CCM.Component Conn_Test_ConnRImplementation gen_test_simple_connr_exec create_Hello_MyBaseEvent_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyBaseEvent_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.ConfigProperty conn_attrib int16:4321
    nl.remedy.it.DnCX11.ConfigProperty consumer_port_attrib int16:4321
    # connection between Receiver and ConnectorR
    nl.remedy.it.DnCX11.Connection Hello_ReceiverImplementation
      consumer_foo_prov < rec_listen_port_foo_prov        # receiver_conn_connection
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"

#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------

# SenderComponent instance
nl.remedy.it.CCM.Component Hello_SenderImplementation gen_test_simple_sender_exec create_Hello_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.ConfigProperty ojee int16:1234

# SenderConnectorComponent instance
nl.remedy.it.CCM.Component Conn_Test_ConnSImplementation gen_test_simple_conns_exec create_Hello_MyBaseEvent_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyBaseEvent_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    # connection between Sender and ConnectorS
    nl.remedy.it.DnCX11.Connection Hello_SenderImplementation
      supplier_foo_uses > sender_write_port_foo_uses      # sender_conn_connection
