# This plan deploys a single test node with 1 Timed Trigger without an exf-connector and a test component,
# and  with 1 Timed Trigger with an exf-connector and an other instance of the test component 


nl.remedy.it.DnCX11.LocalityManager TTLocality
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.ConfigFile "exf-localitymanager.config"


#=====================================================
# Definitions for Test Node without exf
#-----------------------------------------------------

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider_1 ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    
nl.remedy.it.CCM.Component TimedTriggerProvider_2 ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    

# Test Component instance, using no exf 
nl.remedy.it.CCM.Component TT_TestComponent_1 tt_comp_combi_exec create_Test_TT_Tester_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_TT_Tester_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "tt_comp_combi_svnt"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_1
      tt_scheduler_one < tt_scheduler
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_2
      tt_scheduler_two < tt_scheduler

# Test Component instance, using no exf and same connectors as TT_TestComponent_1 
nl.remedy.it.CCM.Component TT_TestComponent_4 tt_comp_combi_exec create_Test_TT_Tester_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_TT_Tester_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "tt_comp_combi_svnt"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_1
      tt_scheduler_one < tt_scheduler
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_2
      tt_scheduler_two < tt_scheduler
#=====================================================
# Definitions for Test Node with exf
#-----------------------------------------------------

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider_3 ciaox11_tt4ccm_exf_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    
nl.remedy.it.CCM.Component TimedTriggerProvider_4 ciaox11_tt4ccm_exf_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"



# Test Component instance using exf
nl.remedy.it.CCM.Component TT_TestComponent_2 tt_comp_combi_exec create_Test_TT_Tester_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_TT_Tester_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "tt_comp_combi_svnt"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.Axcioma.ExF.Deadline.Time.handle_trigger "1000us"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.Axcioma.ExF.Priority.handle_trigger uint16:100
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_3
      tt_scheduler_one < tt_scheduler
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_4
      tt_scheduler_two < tt_scheduler

# Test Component instance using exf and same connectors as TT_TestComponent_2, but with different exf configs.
nl.remedy.it.CCM.Component TT_TestComponent_3 tt_comp_combi_exec create_Test_TT_Tester_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_TT_Tester_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "tt_comp_combi_svnt"
    nl.remedy.it.DnCX11.Node "TestNode"
    nl.remedy.it.DnCX11.Locality "TTLocality"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.Axcioma.ExF.Deadline.Time.handle_trigger "2000us"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.Axcioma.ExF.Priority.handle_trigger uint16:20
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_3
      tt_scheduler_one < tt_scheduler
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider_4
      tt_scheduler_two < tt_scheduler      
 