# PublisherComponent instance
nl.remedy.it.CCM.Component PublisherComponent publisher_exec create_publisher_comp_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "publisher_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_publisher_comp_Servant"
    nl.remedy.it.DnCX11.Node "PublisherNode"
    nl.remedy.it.DnCX11.Locality "PublisherLocality"

#=====================================================
# Definitions for Subscriber Node/Locality
#-----------------------------------------------------

# SubscriberComponent instance
nl.remedy.it.CCM.Component SubscriberComponent subscriber_exec create_subscriber_comp_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "subscriber_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_subscriber_comp_Servant"
    nl.remedy.it.DnCX11.Node "SubscriberNode"
    nl.remedy.it.DnCX11.Locality "SubscriberLocality"


