
#=====================================================
# Definitions for Receiver Node
#-----------------------------------------------------

# ReceiverComponent instance
nl.remedy.it.CCM.Component Hello_ReceiverInstance starter_code_receiver_exec create_Hello_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"

# ReceiverKeyComponent instance
nl.remedy.it.CCM.Component Hello_ReceiverKeyInstance keyword_receiver_exec create_Hello_interface_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_interface_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"

# Receiver CORBA Connector instance
nl.remedy.it.CCM.Component Hello_ReceiverKey_CORBA_connector starter_code_test_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Connection Hello_ReceiverKeyInstance
      srr_receptacle < module_foo_uses

# ReceiverConnectorComponent instance
nl.remedy.it.CCM.Component Conn_Test_ConnRImplementation starter_code_connr_exec create_Hello_MyBaseEvent_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyBaseEvent_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.ConfigProperty conn_attrib int16:4321
    nl.remedy.it.DnCX11.ConfigProperty consumer_port_attrib int16:4321
    # connection between Receiver and ConnectorR
    nl.remedy.it.DnCX11.Connection Hello_ReceiverInstance
      consumer_foo_prov < rec_listen_port_foo_prov        # receiver_conn_connection

#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------

# SenderComponent instance
nl.remedy.it.CCM.Component Hello_SenderInstance starter_code_sender_exec create_Hello_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.ConfigProperty ojee int16:1234

# SenderKeyComponent instance
nl.remedy.it.CCM.Component Hello_SenderKeyInstance keyword_sender_exec create_Hello_else_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_else_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.ConfigProperty ojee int16:1234

# Sender CORBA Connector instance
nl.remedy.it.CCM.Component Hello_SenderKey_CORBA_connector starter_code_test_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Connection Hello_SenderKeyInstance
      srr_facet > if_foo_uses
    nl.remedy.it.DnCX11.Connection Hello_ReceiverKey_CORBA_connector
      srr_receptacle < srr_facet

# SenderConnectorComponent instance
nl.remedy.it.CCM.Component Conn_Test_ConnSImplementation starter_code_conns_exec create_Hello_MyBaseEvent_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyBaseEvent_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    # connection between Sender and ConnectorS
    nl.remedy.it.DnCX11.Connection Hello_SenderInstance
      supplier_foo_uses > sender_write_port_foo_uses      # sender_conn_connection
