
#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------

# SenderComponent instance
nl.remedy.it.CCM.Component Hello_SenderComponent hello_staged_sender_exec create_Hello_Sender_Impl
    ##nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "hello_staged_sender_exec"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Sender CORBA Connector instance
nl.remedy.it.CCM.Component Sender_CORBA_connector hello_staged_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    # local connection between Sender and CORBA connector for the Sender
    nl.remedy.it.DnCX11.Connection Hello_SenderComponent
      srr_facet > run_my_foo
    # External (remote) connection between the CORBA connector for the Sender to the
    # CORBA connector for the Receiver
    nl.remedy.it.DnCX11.ExternalConnection
      srr_receptacle < srr_facet 
        "corbaname:rir:/NameService#Receiver_CORBA_connector"
