
#=====================================================
# Definitions for Receiver Node
#-----------------------------------------------------

# ReceiverComponent instance 1
nl.remedy.it.CCM.Component Hello_ReceiverInstance1 multiple_receiver_exec create_Hello_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"

# Receiver CORBA Connector instance for FOO
nl.remedy.it.CCM.Component Receiver_CORBA_connector_FOO1 multiple_cc_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Connection Hello_ReceiverInstance1
      srr_receptacle < do_my_foo

# ReceiverComponent instance 2
nl.remedy.it.CCM.Component Hello_ReceiverInstance2 multiple_receiver_exec create_Hello_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"

# Receiver CORBA Connector instance for FOO2
nl.remedy.it.CCM.Component Receiver_CORBA_connector_FOO2 multiple_cc_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Connection Hello_ReceiverInstance2
      srr_receptacle < do_my_foo

# ReceiverComponent instance 3
nl.remedy.it.CCM.Component Hello_ReceiverInstance3 multiple_receiver_exec create_Hello_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"

# Receiver CORBA Connector instance for BAR
nl.remedy.it.CCM.Component Receiver_CORBA_connector_BAR multiple_cc_corba_conn create_Hello_MyBar_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyBar_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Connection Hello_ReceiverInstance3
      srr_receptacle < do_my_bar

#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------

# SenderComponent instance
nl.remedy.it.CCM.Component Hello_SenderInstance multiple_sender_exec create_Hello_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"

# Sender CORBA Connector instance for FOO
nl.remedy.it.CCM.Component Sender_CORBA_connector_FOO1 multiple_cc_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Connection Hello_SenderInstance
      srr_facet > run_my_foo
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_FOO1
      srr_receptacle < srr_facet

# Sender CORBA Connector instance for FOO2
nl.remedy.it.CCM.Component Sender_CORBA_connector_FOO2 multiple_cc_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Connection Hello_SenderInstance
      srr_facet > run_my_foo
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_FOO2
      srr_receptacle < srr_facet

# Sender CORBA Connector instance for BAR
nl.remedy.it.CCM.Component Sender_CORBA_connector_BAR multiple_cc_corba_conn create_Hello_MyBar_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyBar_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Connection Hello_SenderInstance
      srr_facet > run_my_bar
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_BAR
      srr_receptacle < srr_facet
