#=====================================================
# Definitions for Generator Node
#-----------------------------------------------------

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component GeneratorTTProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "GeneratorNode"
    nl.remedy.it.DnCX11.Locality "GeneratorLocality"

# App::Generator instance 1
nl.remedy.it.CCM.Component App_GeneratorComponent1 exftest_generator_exec create_App_Generator_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_App_Generator_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "exftest_generator_svnt"
    nl.remedy.it.DnCX11.Node "GeneratorNode"
    nl.remedy.it.DnCX11.Locality "GeneratorLocality"
    nl.remedy.it.DnCX11.ConfigProperty location "location_1"
    nl.remedy.it.DnCX11.Connection GeneratorTTProvider
      tt_generator < tt_scheduler

# App::Generator instance 2
nl.remedy.it.CCM.Component App_GeneratorComponent2 exftest_generator_exec create_App_Generator_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_App_Generator_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "exftest_generator_svnt"
    nl.remedy.it.DnCX11.Node "GeneratorNode"
    nl.remedy.it.DnCX11.Locality "GeneratorLocality"
    nl.remedy.it.DnCX11.ConfigProperty location "location_2"
    nl.remedy.it.DnCX11.Connection GeneratorTTProvider
      tt_generator < tt_scheduler

# API::Recorder CORBA Connector instance
nl.remedy.it.CCM.Component API_GeneratorRecorderConnector recorder_conn create_API_Recorder_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_API_Recorder_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "GeneratorNode"
    nl.remedy.it.DnCX11.Locality "GeneratorLocality"
    nl.remedy.it.DnCX11.Connection App_GeneratorComponent1
      srr_facet > my_recorder
    nl.remedy.it.DnCX11.Connection App_GeneratorComponent2
      srr_facet > my_recorder

# App::Monitor instance 1
nl.remedy.it.CCM.Component App_MonitorComponent1 exftest_monitor_exec create_App_Monitor_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_App_Monitor_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "exftest_monitor_svnt"
    nl.remedy.it.DnCX11.Node "GeneratorNode"
    nl.remedy.it.DnCX11.Locality "GeneratorLocality"
    nl.remedy.it.DnCX11.ConfigProperty location "location_1"
    nl.remedy.it.DnCX11.Connection GeneratorTTProvider
      tt_monitor < tt_scheduler

# App::Monitor instance 2
nl.remedy.it.CCM.Component App_MonitorComponent2 exftest_monitor_exec create_App_Monitor_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_App_Monitor_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "exftest_monitor_svnt"
    nl.remedy.it.DnCX11.Node "GeneratorNode"
    nl.remedy.it.DnCX11.Locality "GeneratorLocality"
    nl.remedy.it.DnCX11.ConfigProperty location "location_2"
    nl.remedy.it.DnCX11.Connection GeneratorTTProvider
      tt_monitor < tt_scheduler

# API::Recorder CORBA Connector instance
nl.remedy.it.CCM.Component API_MonitorRecorderConnector recorder_conn create_API_Recorder_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_API_Recorder_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "GeneratorNode"
    nl.remedy.it.DnCX11.Locality "GeneratorLocality"
    nl.remedy.it.DnCX11.Connection App_MonitorComponent1
      srr_facet > my_recorder
    nl.remedy.it.DnCX11.Connection App_MonitorComponent2
      srr_facet > my_recorder

#=====================================================
# Definitions for Processor Node
#-----------------------------------------------------

# locality manager instance for locality "AggregatorLocality" on Node "ProcessorNode"
nl.remedy.it.DnCX11.LocalityManager AggregatorLocality
    nl.remedy.it.DnCX11.Node "ProcessorNode"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.ConfigFile "exf-localitymanager.config"

# App::Aggregator instance
nl.remedy.it.CCM.Component App_AggregatorComponent exftest_aggregator_exec create_App_Aggregator_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_App_Aggregator_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "exftest_aggregator_svnt"
    nl.remedy.it.DnCX11.Node "ProcessorNode"
    nl.remedy.it.DnCX11.Locality "AggregatorLocality"

# API::Recorder CORBA Connector instance
nl.remedy.it.CCM.Component API_AggregatorRecorderConnector recorder_exfconn create_API_Recorder_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_API_Recorder_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ProcessorNode"
    nl.remedy.it.DnCX11.Locality "AggregatorLocality"
    nl.remedy.it.DnCX11.Connection App_AggregatorComponent
      srr_receptacle < do_recorder
    nl.remedy.it.DnCX11.Connection API_GeneratorRecorderConnector
      srr_facet > srr_receptacle
    nl.remedy.it.DnCX11.Connection API_MonitorRecorderConnector
      srr_facet > srr_receptacle

# App::Analyzer instance
# In this case we directly connect to the Aggregator(s) as we're using a non-exclusive, single threaded
# scheduling lane (default) in this locality/container and using (ExF) connectors can likely cause deadlocks
# in this colocated context (as the Analyzer is holding the ExF thread and will wait for any request to the
# Aggregator to return which it cannot as the Aggregator needs the very thread the Analyzer is holding).
# NOTE: using this setup the Aggregator will service any request from the Analyzer in the same thread
#       context as the Analyzer is executing in.
nl.remedy.it.CCM.Component App_AnalyzerComponent exftest_analyzer_exec create_App_Analyzer_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_App_Analyzer_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "exftest_analyzer_svnt"
    nl.remedy.it.DnCX11.Node "ProcessorNode"
    nl.remedy.it.DnCX11.Locality "AggregatorLocality"
    ### Directly connect the Analyzer to an Aggregator
    nl.remedy.it.DnCX11.Connection App_AggregatorComponent
      my_collectors < do_collector

# API::Presenter CORBA Connector instance
nl.remedy.it.CCM.Component API_AnalyzerPresenterConnector presenter_conn create_API_Presenter_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_API_Presenter_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ProcessorNode"
    nl.remedy.it.DnCX11.Locality "AggregatorLocality"
    nl.remedy.it.DnCX11.Connection App_AnalyzerComponent
      srr_facet > my_presenter

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component AnalyzerTTProvider ciaox11_tt4ccm_exf_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "ProcessorNode"
    nl.remedy.it.DnCX11.Locality "AggregatorLocality"
    nl.remedy.it.DnCX11.Connection App_AnalyzerComponent
      tt_scheduler > tt_analyzer


#=====================================================
# Definitions for Reporter Node
#-----------------------------------------------------

# locality manager instance for locality "ReporterLocality" on Node "ReporterNode"
nl.remedy.it.DnCX11.LocalityManager ReporterLocality
    nl.remedy.it.DnCX11.Node "ReporterNode"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.ConfigFile "exf-localitymanager.config"

# App::Reporter instance
nl.remedy.it.CCM.Component App_ReporterComponent exftest_reporter_exec create_App_Reporter_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_App_Reporter_Servant"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "exftest_reporter_svnt"
    nl.remedy.it.DnCX11.Node "ReporterNode"
    nl.remedy.it.DnCX11.Locality "ReporterLocality"

# API::Presenter CORBA Connector instance
nl.remedy.it.CCM.Component API_ReporterPresenterConnector presenter_exfconn create_API_Presenter_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_API_Presenter_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReporterNode"
    nl.remedy.it.DnCX11.Locality "ReporterLocality"
    nl.remedy.it.DnCX11.Connection App_ReporterComponent
      srr_receptacle < do_presenter
    nl.remedy.it.DnCX11.Connection API_AnalyzerPresenterConnector
      srr_facet > srr_receptacle

