# domain configuration

nl.remedy.it.DnCX11.Node "SenderNode"
  nl.remedy.it.DnCX11.StringIOR "corbaloc:iiop:localhost:60000"

nl.remedy.it.DnCX11.Node "ControlNode"
  nl.remedy.it.DnCX11.StringIOR "corbaloc:iiop:localhost:60001"

nl.remedy.it.DnCX11.Node "ReceiverNode"
  nl.remedy.it.DnCX11.StringIOR "corbaloc:iiop:localhost:60002"
