
#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
nl.remedy.it.DnCX11.LocalityManager ReceiverComponentServerInstance
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    # to debug this locality uncomment the 2 lines below
    #nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:1
    #nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.Port uint16:30001
    #nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.IOR "corbaloc:iiop:localhost:30001/DeploymentManager.LocalityManager"

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent psdd_receiver_exec create_Test_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty count uint32:25
    nl.remedy.it.DnCX11.ConfigProperty filter true
    nl.remedy.it.DnCX11.Connection ReceiverTimedTriggerProvider
      tt_scheduler < tt_scheduler

# ReceiverTimedTriggerProvider instance
nl.remedy.it.CCM.Component ReceiverTimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# Receiver_TopicConnector instance
nl.remedy.it.CCM.Component Receiver_TopicConnector topic_psdd_zmq_conn create_Test_TopicInterface_PSDD_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_TopicInterface_PSDD_Event_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "AXCIOMA::Topic"
    nl.remedy.it.DnCX11.ConfigProperty subscribe true
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.PSDD.ZMQ.Subscriber.Endpoints ["tcp://localhost:50005"]
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.PSDD.ZMQ.Subscriber.ReceiveTimeout int32:2000
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      consumer_data > topic_read
      consumer_data_subscriber > topic_sub

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderComponentServerInstance
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
# to run this locality inprocess with the NM uncomment the following line
#    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:2

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent psdd_sender_exec create_Test_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty count uint32:50
    nl.remedy.it.DnCX11.Connection SenderTimedTriggerProvider
      tt_scheduler < tt_scheduler

# SenderTimedTriggerProvider instance
nl.remedy.it.CCM.Component SenderTimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Sender_TopicConnector instance
nl.remedy.it.CCM.Component Sender_TopicConnector topic_psdd_zmq_conn create_Test_TopicInterface_PSDD_Event_Impl
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "AXCIOMA::Topic"
    nl.remedy.it.DnCX11.ConfigProperty publish true
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.PSDD.ZMQ.Publisher.Endpoints ["tcp://*:50005"]
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > topic_pub
