
# ReceiverComponent instance
nl.remedy.it.CCM.Component ComponentInstance deregistration_exec create_Deregistration_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Deregistration_Servant"
    nl.remedy.it.DnCX11.Node "NodeOne"

# ReceiverComponent instance
nl.remedy.it.CCM.Component CORBA_ConnectorInstance deregistration_exec create_Foo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Foo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "NodeOne"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.RegisterNaming "TestComp"
    nl.remedy.it.DnCX11.Connection ComponentInstance
      srr_receptacle < my_port

