#
# DnCX11 Locality Deployment Manager configuration with ExF support
#

# CIAOX11 EXF Scheduler service
nl.remedy.it.DnCX11.ServiceObject ciaox11_exf_scheduler _make_SchedulerSvc

# CIAOX11 EXF Deadline monitoring service
nl.remedy.it.DnCX11.ServiceObject ciaox11_exf_monitor _make_DeadlineMonitorSvc

# DnCX11 ExF CIAOX11 container instantiation plugin
nl.remedy.it.DnCX11.InstanceHandler ciaox11_exf_deployment_handlers create_CIAOX11_EXF_Container_Handler

# DnCX11 ExF CIAOX11 component instantiation plugin
nl.remedy.it.DnCX11.InstanceHandler ciaox11_exf_deployment_handlers create_CIAOX11_EXF_Component_Handler

# DnCX11 standard component connection reference collection plugin
nl.remedy.it.DnCX11.DeploymentInterceptor ciaox11_deployment_interceptors create_CIAOX11_StoreReferences
# DnCX11 standard component connection reference resolution plugin
nl.remedy.it.DnCX11.DeploymentInterceptor ciaox11_deployment_interceptors create_CIAOX11_ReferenceLookup
# DnCX11 standard error interceptor plugin
nl.remedy.it.DnCX11.DeploymentInterceptor dancex11_error_interceptors create_DAnCEX11_Standard_Error
# DnCX11 best effort interceptor plugin
nl.remedy.it.DnCX11.DeploymentInterceptor dancex11_error_interceptors create_DAnCEX11_Best_Effort
# DnCX11 process name configuration plugin
nl.remedy.it.DnCX11.ConfigPlugin dancex11_locality_configuration create_process_name
# DnCX11 CPU affinity configuration plugin
nl.remedy.it.DnCX11.ConfigPlugin dancex11_locality_configuration create_cpu_affinity
# DnCX11 process priority configuration plugin
nl.remedy.it.DnCX11.ConfigPlugin dancex11_locality_configuration create_process_priority

# DnCX11 CDR format plan loader service
#nl.remedy.it.DnCX11.ServiceObject dancex11_cdr_plan_loader _make_CDRPlan_Loader_Svc
