#---------------------------------------------------------------------
# @file   plan_on_sample_rejected_opendds.config
# @author Johnny Willemsen
#
# @copyright Copyright (c) Remedy IT Expertise BV
#---------------------------------------------------------------------

#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
nl.remedy.it.DnCX11.LocalityManager ReceiverComponentServerInstance
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent connector_status_receiver_exec create_CSL_Test_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "connector_status_receiver_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CSL_Test_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty csl_assignment "on_sample_rejected"
    nl.remedy.it.DnCX11.ConfigProperty samples_to_receive uint32:25
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"


# DDS4CCM_Receiver_Connector instance
nl.remedy.it.CCM.Component DDS4CCM_Receiver_Connector common_dds_opendds_conn create_CommonTestConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "common_dds_opendds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CommonTestConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "CSL_Test"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "csllibrary#CSLSampleRejectedProfile"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      error_listener < connector_status_receiver
      pull_consumer_data > info_get_data
      pull_consumer_status < info_get_status

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderComponentServerInstance
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent connector_status_sender_exec create_CSL_Test_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "connector_status_sender_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CSL_Test_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty csl_assignment "on_sample_rejected"
    nl.remedy.it.DnCX11.ConfigProperty samples_to_write uint32:50
    nl.remedy.it.DnCX11.Connection TimedTriggerProviderS
      tt_scheduler < tt_scheduler

# TimedTriggerProviderS instance
nl.remedy.it.CCM.Component TimedTriggerProviderS ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# DDS4CCM_Sender_Connector instance
nl.remedy.it.CCM.Component DDS4CCM_Sender_Connector common_dds_opendds_conn create_CommonTestConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "common_dds_opendds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CommonTestConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "CSL_Test"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "csllibrary#CSLSampleRejectedProfile"
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > info_write_data
      error_listener < connector_status_sender
