#---------------------------------------------------------------------
# @file   plan.config
# @author Marcel Smit
#
# @copyright Copyright (c) Remedy IT Expertise BV
# Chamber of commerce Rotterdam nr.276339, The Netherlands
#---------------------------------------------------------------------

#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
nl.remedy.it.DnCX11.LocalityManager ReceiverComponentServerInstance
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent Receiver_exec create_Uni_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "Receiver_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Uni_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# DDS4CCM_Receiver_Connector instance for Union
nl.remedy.it.CCM.Component DDS4CCM_Receiver_Connector union_dds_ndds_conn create_Uni_TopUnionConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "union_dds_ndds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Uni_TopUnionConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "UnionTopic"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "defaultlibrary#defaultprofile"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      push_consumer_data_listener < info_out_data_listener
      push_consumer_data_control > info_out_data_control
      push_consumer_data > info_out_data

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderComponentServerInstance
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent Sender_exec create_Uni_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "Sender_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Uni_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler


# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# DDS4CCM_Sender_Connector instance for a top level top_union
nl.remedy.it.CCM.Component DDS4CCM_Sender_Connector_top union_dds_ndds_conn create_Uni_TopUnionConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "union_dds_ndds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Uni_TopUnionConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "UnionTopic"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "defaultlibrary#defaultprofile"
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > info_write_data
      error_listener < connector_status
      supplier_dds_entity > info_write_dds_entity
