
#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent event_receiver_exec create_Data_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "event_receiver_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Data_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "SubscriberNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
#    nl.remedy.it.DnCX11.ConfigProperty iterations uint16:10
#    nl.remedy.it.DnCX11.ConfigProperty keys uint16:5

# Receiver_ConnectorComponent instance
nl.remedy.it.CCM.Component Receiver_ConnectorComponent event_conn_dds_ndds_conn create_Data_EventInterface_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "event_conn_dds_ndds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Data_EventInterface_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "SubscriberNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "Event"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "eventdatalibrary#EventDataProfile"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      push_consumer_data > info_out_data                    # _reader
      push_consumer_data_listener < info_out_data_listener  # _listener
      push_consumer_data_control > info_out_data_control    # _datacontrol

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent event_sender_exec create_Data_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "event_sender_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Data_Sender_Servant"
    nl.remedy.it.DnCX11.Node "PublisherNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
#    nl.remedy.it.DnCX11.ConfigProperty iterations uint16:10
#    nl.remedy.it.DnCX11.ConfigProperty keys uint16:5
#    nl.remedy.it.DnCX11.ConfigProperty rate uint16:15

# Writer_ConnectorComponent instance
nl.remedy.it.CCM.Component Writer_ConnectorComponent event_conn_dds_ndds_conn create_Data_EventInterface_DDS_Event_Impl
    nl.remedy.it.DnCX11.Node "PublisherNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "Event"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "eventdatalibrary#EventDataProfile"
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > info_write_data     # writer_connection
      error_listener < connector_status   # connector_status_connection
