
#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------

# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
nl.remedy.it.DnCX11.LocalityManager ReceiverLocality
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.ConfigFile "exf-localitymanager.config"

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent sync_event_receiver_exec create_Hello_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "sync_event_receiver_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
#    nl.remedy.it.DnCX11.ConfigProperty iterations uint16:10
#    nl.remedy.it.DnCX11.ConfigProperty keys uint16:5

# Receiver_ConnectorComponent instance
nl.remedy.it.CCM.Component Receiver_ConnectorComponent event_dds_opendds_conn create_Hello_ShapeTypeInterface_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "event_dds_opendds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_ShapeTypeInterface_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "Event"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "eventdatalibrary#EventDataProfile"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      push_consumer_data > info_out_data                    # _reader
      push_consumer_data_listener < info_out_data_listener  # _listener
      push_consumer_data_control > info_out_data_control    # _datacontrol

# Receiver CORBA Connector instance
nl.remedy.it.CCM.Component Receiver_CORBA_connector hello_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      srr_receptacle < do_my_foo

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------

# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderLocality
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.ConfigFile "exf-localitymanager.config"

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_exf_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent async_event_sender_exec create_Hello_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "async_event_sender_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
#    nl.remedy.it.DnCX11.ConfigProperty iterations uint16:10
#    nl.remedy.it.DnCX11.ConfigProperty keys uint16:5
#    nl.remedy.it.DnCX11.ConfigProperty rate uint16:15
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# Writer_ConnectorComponent instance
nl.remedy.it.CCM.Component Writer_ConnectorComponent event_dds_opendds_conn create_Hello_ShapeTypeInterface_DDS_Event_Impl
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "Event"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "eventdatalibrary#EventDataProfile"
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > info_write_data     # writer_connection
      error_listener < connector_status   # connector_status_connection

# AMI Connector instance
nl.remedy.it.CCM.Component AMI_ConnectorComponent hello_amic_conn create_Hello_AMI4CCM_MyFoo_Connector_AMI4CCM_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_AMI4CCM_MyFoo_Connector_AMI4CCM_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection SenderComponent
      ami4ccm_port_ami4ccm_provides > sendc_run_my_foo    # run_asynch_foo_connection
      ami4ccm_port_ami4ccm_sync_provides > run_my_foo
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector
      ami4ccm_port_ami4ccm_uses < srr_facet
