
#=====================================================
# Definitions for Receiver Node
#-----------------------------------------------------
# ReceiverComponent instance
nl.remedy.it.CCM.Component Hello_ReceiverComponent extended_hello_receiver_exec create_Hello_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty foo_attrib int16:4

# Receiver CORBA Connector instance for FOO
nl.remedy.it.CCM.Component Receiver_CORBA_connector_FOO extended_hello_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    # local connection between CORBA connector for the Receiver
    # and the Receiver itself.
    nl.remedy.it.DnCX11.Connection Hello_ReceiverComponent
      srr_receptacle < do_my_foo

#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------
# SenderComponent instance
nl.remedy.it.CCM.Component Hello_SenderComponent extended_hello_sender_exec create_Hello_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Sender CORBA Connector instance for FOO
nl.remedy.it.CCM.Component Sender_CORBA_connector_FOO extended_hello_corba_conn create_Hello_MyFoo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_MyFoo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    
    # local connection between Sender and CORBA connector for the Sender
    nl.remedy.it.DnCX11.Connection Hello_SenderComponent
      srr_facet > run_my_foo
    # Remote connection between the CORBA connector for the Sender to the
    # CORBA connector for the Receiver
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connector_FOO
      srr_receptacle < srr_facet
