#---------------------------------------------------------------------
# @file   plan.config
# @author Marcel Smit
#
# @copyright Copyright (c) Remedy IT Expertise BV
# Chamber of commerce Rotterdam nr.276339, The Netherlands
#---------------------------------------------------------------------

#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
nl.remedy.it.DnCX11.LocalityManager ReceiverComponentServerInstance
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"


# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent Receiver_exec create_RG_LateBinding_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "Receiver_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_RG_LateBinding_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection ReceiverTimedTriggerProvider
      tt_scheduler < tt_scheduler


# ReceiverTimedTriggerProvider instance
nl.remedy.it.CCM.Component ReceiverTimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# DDS4CCM_Receiver_Connector instance
nl.remedy.it.CCM.Component DDS4CCM_Receiver_Connector common_dds_ndds_conn create_CommonTestConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "common_dds_ndds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CommonTestConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name ""
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "latebindinglibrary#LateBindingProfile"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      pull_consumer_fresh_data > info_get_fresh_data
      pull_consumer_data > info_get_data

# ReaderStarter_Receiver_CORBA_connector instance for reader_start
nl.remedy.it.CCM.Component ReaderStarter_Receiver_CORBA_connector reader_starter_corba_conn create_ReaderStarter_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_ReaderStarter_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      srr_receptacle < start_reading

# WriterStarter_Receiver_CORBA_connector instance for writer_start
nl.remedy.it.CCM.Component WriterStarter_Receiver_CORBA_connector writer_starter_corba_conn create_WriterStarter_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_WriterStarter_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      srr_facet > writer_start

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderComponentServerInstance
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent Sender_exec create_RG_LateBinding_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "Sender_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_RG_LateBinding_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty iterations uint16:10
    nl.remedy.it.DnCX11.ConfigProperty keys uint16:5
    nl.remedy.it.DnCX11.Connection SenderTimedTriggerProvider
      tt_scheduler < tt_scheduler

# SenderTimedTriggerProvider instance
nl.remedy.it.CCM.Component SenderTimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# DDS4CCM_Sender_Connector instance
nl.remedy.it.CCM.Component DDS4CCM_Sender_Connector common_dds_ndds_conn create_CommonTestConnector_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "common_dds_ndds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CommonTestConnector_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "FirstLateBindingTopic"
    nl.remedy.it.DnCX11.ConfigProperty qos_profile "latebindinglibrary#LateBindingProfile"
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > info_write_data

# ReaderStarter_Sender_CORBA_connector instance for reader_start
nl.remedy.it.CCM.Component ReaderStarter_Sender_CORBA_connector reader_starter_corba_conn create_ReaderStarter_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_ReaderStarter_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection SenderComponent
      srr_facet > reader_start
    nl.remedy.it.DnCX11.Connection ReaderStarter_Receiver_CORBA_connector
      srr_receptacle < srr_facet

# WriterStarter_Sender_CORBA_connector instance for writer_start
nl.remedy.it.CCM.Component WriterStarter_Sender_CORBA_connector writer_starter_corba_conn create_WriterStarter_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_WriterStarter_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection SenderComponent
      srr_receptacle < start_writing
    nl.remedy.it.DnCX11.Connection WriterStarter_Receiver_CORBA_connector
      srr_facet > srr_receptacle
