#=====================================================
# Definitions for Receiver Node
#-----------------------------------------------------

# ReceiverComponent instance A
nl.remedy.it.CCM.Component Hello_ReceiverComponentA hello_receiver_exec create_UsesMulti_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_UsesMulti_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
nl.remedy.it.CCM.Component Receiver_CORBA_connectorA syn_usesmulti_corba_conn create_UsesMulti_One_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_UsesMulti_One_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection Hello_ReceiverComponentA
      srr_receptacle < do_my_one

# ReceiverComponent instance B
nl.remedy.it.CCM.Component Hello_ReceiverComponentB hello_receiver_exec create_UsesMulti_Receiver_Impl
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
nl.remedy.it.CCM.Component Receiver_CORBA_connectorB syn_usesmulti_corba_conn create_UsesMulti_One_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_UsesMulti_One_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.Connection Hello_ReceiverComponentB
      srr_receptacle < do_my_one

#=====================================================
# Definitions for Sender Node
#-----------------------------------------------------

# SenderComponent instance
nl.remedy.it.CCM.Component Hello_SenderComponent hello_sender_exec create_UsesMulti_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_UsesMulti_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Sync ConnectorComponent instance A
nl.remedy.it.CCM.Component Sender_CORBA_connectorA syn_usesmulti_corba_conn create_UsesMulti_One_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_UsesMulti_One_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection Hello_SenderComponent
      srr_facet > m_run_my_one
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connectorA
      srr_receptacle < srr_facet

# Sync ConnectorComponent instance B
nl.remedy.it.CCM.Component Sender_CORBA_connectorB syn_usesmulti_corba_conn create_UsesMulti_One_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_UsesMulti_One_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.Connection Hello_SenderComponent
      srr_facet > m_run_my_one
    nl.remedy.it.DnCX11.Connection Receiver_CORBA_connectorB
      srr_receptacle < srr_facet
      