
#=====================================================
# Definitions for Receiver Node/Locality
#-----------------------------------------------------
# locality manager instance for locality "ReceiverLocality" on Node "ReceiverNode"
nl.remedy.it.DnCX11.LocalityManager ReceiverComponentServerInstance
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    # to debug this locality run the following command and enable the 2 lines below the command
    # dancex11_deployment_manager --handler dancex11_locality_dm_handler -p 60006
    #nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:1
    #nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.Port uint16:60006

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent latency_receiver_exec create_Test_Receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_Receiver_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"

# Receiver_ConnectorComponent instance 1
nl.remedy.it.CCM.Component Receiver_ConnectorComponent1 latency_data_psdd_zmq_conn create_Test_LatencyDataConnector_PSDD_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_LatencyDataConnector_PSDD_Event_Servant"
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "LatencyData"
    nl.remedy.it.DnCX11.ConfigProperty subscribe true
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.PSDD.ZMQ.Subscriber.Endpoints ["tcp://localhost:50005"]
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      consumer_data_listener < info_out
      consumer_data_subscriber > info_sub

# Receiver_ConnectorComponent instance 2
nl.remedy.it.CCM.Component Receiver_ConnectorComponent2 latency_data_psdd_zmq_conn create_Test_LatencyDataConnector_PSDD_Event_Impl
    nl.remedy.it.DnCX11.Node "ReceiverNode"
    nl.remedy.it.DnCX11.Locality "ReceiverLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "LatencyDataEcho"
    nl.remedy.it.DnCX11.ConfigProperty publish true
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.PSDD.ZMQ.Publisher.Endpoints ["tcp://*:50006"]
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      supplier_data > info_echo

#=====================================================
# Definitions for Sender Node/Locality
#-----------------------------------------------------

# locality manager instance for locality "SenderLocality" on Node "SenderNode"
nl.remedy.it.DnCX11.LocalityManager SenderComponentServerInstance
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    # to debug this locality run the following command and enable the 2 lines below the command
    # dancex11_deployment_manager --handler dancex11_locality_dm_handler -p 60005
    #nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:1
    #nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.Port uint16:60005

# to run this locality inprocess with the NM uncomment the following line
#    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:2

# SenderComponent instance
nl.remedy.it.CCM.Component SenderComponent latency_sender_exec create_Test_Sender_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Test_Sender_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    #
    ## Configures the number of testruns
    #nl.remedy.it.DnCX11.ConfigProperty iterations uint32:10
    #
    ## Configures the frequency of the timer in microseconds
    #nl.remedy.it.DnCX11.ConfigProperty rate uint32:50
    #
    ## Configures the number of samples sent in a single testrun
    #nl.remedy.it.DnCX11.ConfigProperty samples uint32:10000
    #
    ## Configures the size (in bytes) of a single sample
    #nl.remedy.it.DnCX11.ConfigProperty sample_size uint32:1024
    #
    ## Configures the context switch type
    nl.remedy.it.DnCX11.ConfigProperty context_switch_type "Reactor"
    #
    nl.remedy.it.DnCX11.Connection TimedTriggerProvider
      tt_scheduler < tt_scheduler

# TimedTriggerProvider instance
nl.remedy.it.CCM.Component TimedTriggerProvider ciaox11_tt4ccm_conn create_CIAOX11_TT_TimedTrigger_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_CIAOX11_TT_TimedTrigger_Servant"
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"

# Writer_ConnectorComponent instance 1
nl.remedy.it.CCM.Component Writer_ConnectorComponent1 latency_data_psdd_zmq_conn create_Test_LatencyDataConnector_PSDD_Event_Impl
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "LatencyData"
    nl.remedy.it.DnCX11.ConfigProperty publish true
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.PSDD.ZMQ.Publisher.Endpoints ["tcp://*:50005"]
    nl.remedy.it.DnCX11.Connection SenderComponent
      supplier_data > info_write

# Writer_ConnectorComponent instance 2
nl.remedy.it.CCM.Component Writer_ConnectorComponent2 latency_data_psdd_zmq_conn create_Test_LatencyDataConnector_PSDD_Event_Impl
    nl.remedy.it.DnCX11.Node "SenderNode"
    nl.remedy.it.DnCX11.Locality "SenderLocality"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "LatencyDataEcho"
    nl.remedy.it.DnCX11.ConfigProperty subscribe true
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.PSDD.ZMQ.Subscriber.Endpoints ["tcp://localhost:50006"]
    nl.remedy.it.DnCX11.Connection SenderComponent
      consumer_data_listener < info_recv
      consumer_data_subscriber > info_sub
