
#=====================================================
# Definitions for Node Node
#-----------------------------------------------------

# No remote connections. This should result in an exception in the component.

# NodeComponent instance
nl.remedy.it.CCM.Component Hello_NodeComponent corba4ccm_exceptions_component_exec create_Foo_CORBA4CCM_exception_component_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Foo_CORBA4CCM_exception_component_Servant"
    nl.remedy.it.DnCX11.Node "NodeOne"
    nl.remedy.it.DnCX11.Locality "NodeLocality"

# Node CORBA Connector instance
nl.remedy.it.CCM.Component Node_CORBA_connector corba4ccm_exceptions_corba_conn create_Hello_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Hello_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "NodeOne"
    nl.remedy.it.DnCX11.Locality "NodeLocality"
    # local connection between CORBA connector for the Node
    # and the Node itself.
    nl.remedy.it.DnCX11.Connection Hello_NodeComponent
      srr_facet > foo_hello
